.advantages-card-description h3 {
  font-size: 22px;
  line-height: 33px;
  color: $color-blue-zodiac;
  font-weight: 700;
}

.advantages-card-description p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: $color-blue-zodiac;
  margin: 0;
}
