.coaches {
  padding-top: 59px;
  padding-bottom: 100px;


  h2 {
    padding-left: 58px;
    margin-bottom: 31px;

    @media #{$middle-vp} {
      padding: 0;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  @media #{$middle-vp} {

    padding-bottom: 80px;
  }
}
