.coaches-slider {
  position: relative;
  user-select: none;
  width: 100%;
  height: 100%;
  padding: 0 56px;


  &__button {
    position: absolute;
    top: 50%;
    width: 23px;
    height: 23px;
    z-index: 10;
    padding: 5px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 23px;
      border-color: $color-blue-zodiac;
      border-left: 1px solid;
      border-bottom: 1px solid;
    }
  }

  &__next {
    right: 0;
    transform: rotate(-135deg);
  }

  &__prev {
    left: 0;
    transform: rotate(45deg);
  }
}
