.coaches-slider {
  box-sizing: border-box;
  position: relative;
  user-select: none;
  width: 100%;
  height: 100%;
  padding: 0 56px;

  &__slide {
    min-width: 0;
    width: 260px;
    height: 294px;

    @media #{$middle-vp} {
      width: 268px;
      height: 294px;
    }

    @media #{$narrow-vp} {
      width: 226px;
      height: 274px;
    }
  }

  &__button {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    width: 37px;
    height: 37px;
    z-index: 10;
    padding: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 23px;
      height: 23px;
      border-left: 1px solid;
      border-bottom: 1px solid;
      border-color: $color-slider-control;
    }
  }

  &__next {
    right: 0;

    &::before {
      right: 50%;
      transform-origin: top right;
      transform: rotate(225deg) translate(50%, -50%);
    }
  }

  &__prev {
    left: 0;

    &::before {
      left: 50%;
      transform-origin: top left;
      transform: rotate(45deg) translate(-50%, -50%);
    }
  }

  @media #{$middle-vp} {
    //max-width: 678px;
  }

  @media #{$narrow-vp} {
    max-width: 610px;
  }
}
