.competition-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  padding: 81px 21px 75px 78px;

  h2 {
    font-family: $ff-bebas-neue;
    font-size: 90px;
    line-height: 90px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $color-default-white;
    padding-top: 2px;
    margin: 0;
    height: fit-content;
  }

  p {
    grid-column: 1 / -1;
    font-family: $ff-roboto-condensed;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: $color-default-white;
    margin: 9px 0 35px;
  }

  a {
    display: block;
    grid-column: 1 / -1;
    font-family: $ff-roboto-condensed;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: $color-default-white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;
    max-width: 345px;
    min-height: 38px;
    margin-left: -1px;
    padding: 30px 20px 27px;
    box-shadow: inset 0 0 0 4px $color-default-white;

    user-select: none;
  }
}

.competition-text__date-list {
  padding-left: 50px;
}
