.footer {
  background: #030a1a;
  min-height: 108px;

  &__content {
    display: flex;

    @media #{$narrow-vp} {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.footer__social {
  grid-row: 3 /4;
}
