.presentation {
  padding-bottom: 183px;
}

.presentation__grid {
  display: flex;
  padding-top: 120px;
  padding-left: 60px;
  padding-bottom: 120px;

  @media #{$not-wide-vp} {
    flex-direction: column;
  }
}

.presentation__text {
  max-width: 355px;
  padding-top: 47px;

  @media #{$middle-vp} {
    max-width: 100%;
    text-align: center;
    padding-top: 99px;
    margin-bottom: 43px;
  }
}
