.promo {
  padding-top: 119px;
  padding-bottom: 60px;

  h2 {
    text-align: center;
  }

  @media #{$middle-vp} {
    padding-top: 100px;
  }
}

.promo__content {
  display: flex;
  align-items: flex-start;
  padding-top: 51px;


  @media #{$not-wide-vp} {
    flex-direction: column;
  }

  @media #{$middle-vp} {
    padding-top: 40px;
  }
}

.promo__main {
  @media #{$middle-vp} {
    margin-bottom: 30px;
  }
}

.promo__cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  flex-grow: 1;

  @media #{$middle-vp} {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 100%;
  }
}
