.subscription {
  padding-top: 119px;
  padding-bottom: 120px;
  background: $section-background-color;
}

.subscription h2 {
  text-align: center;
  margin-bottom: 24px;
}

.subscription__plates {
  position: absolute;
  right: -103px;
  bottom: -274px;
  z-index: 1;
}
