.tab-content__cards-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 5;

  @media #{$not-wide-vp} {
    grid-template-columns: 1fr;
  }
}

.tab-content__cards-item + .tab-content__cards-item {
  margin-top: 41px;
}
