.top-screen {
  padding-top: 51px;
  padding-bottom: 51px;
  background: $top-gradient;

  &__grid {
    display: flex;
  }
}

.top-screen__text {
  padding-top: 111px;
  margin-right: 44px;
  padding-right: 20px;
}

.top-screen img {
  max-width: 500px;
  width: 100%;
  object-fit: contain;
}

.top-screen__socials {
  margin-bottom: 40px;
  margin-left: auto;
}
