//Color
$color-default-white: #ffffff;
$gradient-default: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
$play-button-gradient: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
$background-transparent: transparent;
$color-blue-zodiac: #102654;
$color-video-fade: #14367a;


//Gradients

$top-gradient: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);

//Typography
$ff-roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$ff-bebas-neue: "Bebas Neue", "Arial", sans-serif;

// Viewports
// ---------------------------------
$narrow-vp: "(max-width: 767px)";
$not-narrow-vp: "(min-width: 768px)";
$middle-vp: "(min-width: 768px) and (max-width: 1199px)";
$wide-vp: "(min-width: 1200px)";
$not-wide-vp: "(max-width: 1199px)";

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//variables
$header-height: 86px;
$section-title-color: $color-blue-zodiac;
